nav {
    height: 40px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #F3F3F3;
    justify-content: space-between;
}
.nav-choices{
    line-height: 40px;
    display: flex;
    margin-right: 10px;
}
nav a{
    font-weight: bold;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
nav a:hover{
    color: #666;
    background-color: #ddd;
}
.nav-type{
    display: flex;
    line-height: 40px;
    background-color: #008CBA;
    padding: 0;
    margin: 0;
}
.nav-type a{
    color: white;
    text-decoration: none;
}

/* ACTIVITY */
.liner{
    display: flex;
    margin: 20px;
    padding: 5px;
    border-color:  #008CBA;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.liner h2{
    margin: 0;
}
.liner-pic{
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 2%;
}
.liner-description p , .liner-description span {
    display: inline;
}

.navbtn:hover {
    cursor: pointer;
}
.liner-buttons a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#dropdownMenuLink:hover {
    background-color: #008CBA;
}

.login-body{
    background-image: url("includes/bghome.jpg");
    background-color: #cccccc;
}

.login-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: fit-content;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
}